/* || GENERAL HEADER STYLES */

.header-section {
    /* size of section -- make one screen big */
    width: 100vw;
    min-height: 100vh;
    
    /* account for vertical view bar in width */    
    max-width: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header-section::before {
    /* should make the background semi transparent */
    content: "";
    background-image: linear-gradient(to bottom right, rgba(106, 170, 199, 0.52), rgba(209, 28, 28, 0.73)), url("https://images.unsplash.com/photo-1597733153203-a54d0fbc47de?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1090");
    background-size: cover;
    opacity: 0.3;

    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.title-div {
    position: relative;

    margin-top: -5%;
    min-height: 10%;
    width: 100%;
    color: rgb(65, 64, 64);
}


/* || INPUT SECTION STYLES */

.input-section {
    /* we want this div stuck at the bottom */
    position: fixed;
    top: auto;
    padding-bottom: 3%;

    bottom: 0;
    width: 100%;
    max-height: 15%;
    min-height: 10%;
    /* background-color: #ff6ed6d8; */

    color: #f1f1f1;
    box-shadow: 0px 0px 10px rgba(65, 64, 64, 0.257);
    z-index: 99999;

    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}


/* || SUBTITLE STYLES */

.subtitle-div {
    position: relative;
    width: 100%;
    height: auto;
    
    top: 20%;
    color: rgb(65, 64, 64);
}

.centered-heading {
    font-size: 6rem;
    margin-bottom: 0;
}

.centered-context-text {
    /* make sure that the text has ample spacing */
    margin-left: 2.5%;
    margin-right: 2.5%;
    
    margin-top: 0.5em;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}


/* || GENERAL STYLES */

input[type=text] {
    box-sizing: border-box;
    width: 80%;
    padding: 1%;
    border: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    box-shadow: 0px 0px 10px rgba(65, 64, 64, 0.257);
    
    background-color: #a140a6aa;
    color: white;
}

input[type=text]::placeholder {
    color: rgba(255, 255, 255, 0.548);
}

input[type=submit] {
    padding: 1%;
    width: 5%;
    border: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    background-color: #b486b6aa;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

input[type=submit]:hover {
    background-color: #fef3ffaa;
    cursor: pointer;
}

h1 {
    font-family: 'Roboto Flex', sans-serif;
    color: rgb(0, 0, 0);
}

p {
    font-weight: 600;
    font-family: 'Roboto Flex', sans-serif;
}


/* Flaired edges, by Tomas Theunissen */
hr.fancy-hr {
    overflow: visible; /* For IE */
    height: 30px;
    width: 25%;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.fancy-hr:before { 
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}


/* || MOBILE STYLES */
/* Write a media query for mobile devices */

@media screen and (max-width: 600px) {
    .centered-context-text {
        font-size: 0.8rem;
    }

    .centered-heading {
        font-size: 3rem;
    }
}